.flexContainer {
    display: flex;
    align-items: center;

    .actionBtn {
        padding: 6px;
        background-color: inherit;
    }
}

.buttonsBlock {
    justify-content: flex-end;
}

.root {
    margin: 0 auto;
}
